.searchBox {
    margin-bottom: 20px;    
}

.searchBox label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.searchBox input {
    width: 344px;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}